header {
    display: flex;
    border: 1px solid black;
    justify-content: center;
}

header img {
    width: 150px;
    height: auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin-left: 75px;
    margin-right: 75px;
}

nav p {
    margin-left: 25px;
    margin-right: 25px;
}