html {
    text-align: center;
    background-color: black;
    color: white;
}

a {
    color: white;
}

header {
    display: flex;
    border: 2px solid green;
    justify-content: center;
}

header img {
    width: 150px;
    height: auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin-left: 3%;
    margin-right: 3%;
    width: 75%;
    overflow: hidden;
    flex-wrap: wrap;
}

nav p {
    margin-left: 2.5%;
    margin-right: 2.5%;
    border: 1px solid black;
    text-decoration: underline;
}

.sponsors-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-image: url("./images/thomas-park-fDmpxdV69eA-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.sponsors-container p {
    background-color:black;
    width: 150px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    nav {
        display: none;
    }

    header {
        justify-content: space-around;
    }
}